<div class="d-flex">
    <!--Sidebar-->
    <div id="sidebar">
        <div class="mt-5 text-center text-light">
            <a routerLink="/dashboard">
                <h3>Dashboard</h3>
            </a>
            <hr>
            <a routerLink="/add">
                <h5 class="mt-3">Create New CV</h5>
            </a>
        </div>
    </div>
    <!--Main-->
    <div class="container-fluid">
        <div class="row p-2">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h2 class="text-primary my-3">Edit Your Details</h2>
                <div class="row">
                    <form action="" (ngSubmit)="edit()" #editform="ngForm">
                        <!--Personal Details-->
                        <div class="border border-1 rounded p-5">
                            <h4>Personal Details</h4>
                            <hr>
                            <div class="mt-3 w-100">
                                <input type="text" #user="ngModel" placeholder="Name" class="form-control"
                                    name="username" [(ngModel)]="userDetails.username" required
                                    pattern="^[a-zA-Z],{3,}*$">
                                <span *ngIf="user.invalid && user.touched" class="text-danger">*Invalid Input</span>
                            </div>
                            <div class="mt-3 w-100">
                                <input type="email" #useremail="ngModel" placeholder="Email" class="form-control"
                                    name="email" [(ngModel)]="userDetails.email" required email>
                                <span *ngIf="useremail.invalid && useremail.touched" class="text-danger">*Invalid
                                    Input</span>
                            </div>
                            <div class="mt-3 w-100">
                                <input type="text" #userphone="ngModel" placeholder="Contact Number"
                                    class="form-control" name="phone" [(ngModel)]="userDetails.phone" required>
                                <span *ngIf="userphone.invalid && userphone.touched" class="text-danger">*Invalid
                                    Input</span>
                            </div>
                        </div>
                        <!--Education Details-->
                        <div class="border border-1 rounded p-5 mt-4">
                            <h4 class="">Education Details</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mt-3 w-100">
                                        <input type="text" #usercourse="ngModel" placeholder="Course"
                                            class="form-control" name="course" [(ngModel)]="userDetails.course" required
                                            pattern="^[a-zA-Z],{3,}*$">
                                        <span *ngIf="usercourse.invalid && usercourse.touched"
                                            class="text-danger">*Invalid Input</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mt-3 w-100">
                                        <input type="text" #useruniversity="ngModel" placeholder="University"
                                            class="form-control" name="university" [(ngModel)]="userDetails.university"
                                            required pattern="^[a-zA-Z],{3,}*$">
                                        <span *ngIf="useruniversity.invalid && useruniversity.touched"
                                            class="text-danger">*Invalid Input</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mt-3 w-100">
                                        <input type="number" #useryear="ngModel" placeholder="Passout Year"
                                            class="form-control" name="year" [(ngModel)]="userDetails.year" required
                                            pattern="^[0-9],{3,}*$">
                                        <span *ngIf="useryear.invalid && useryear.touched" class="text-danger">*Invalid
                                            Input</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Experince Details-->
                        <div class="border border-1 rounded p-5 mt-4">
                            <h4 class="">Experince Details</h4>
                            <hr>
                            <div class="mt-3 w-100">
                                <input type="text" formControlName="company" placeholder="Company Name"
                                    class="form-control" name="company" [(ngModel)]="userDetails.company" required
                                    pattern="^[a-zA-Z],{3,}*$">
                            </div>
                            <div class="mt-3 w-100">
                                <input type="text" formControlName="designation" placeholder="Designation"
                                    class="form-control" name="designation" [(ngModel)]="userDetails.designation"
                                    required pattern="^[a-zA-Z],{3,}*$">
                            </div>
                            <div class="mt-3 w-100">
                                <input type="number" formControlName="yearofexperience"
                                    placeholder="Number of Experience" class="form-control" name="yearofexperience"
                                    [(ngModel)]="userDetails.yearofexperience" required pattern="^[0-9],{3,}*$">
                            </div>
                        </div>

                        <!--Skills Details-->
                        <div class="border border-1 rounded p-5 mt-4">
                            <h4 class="">Skills</h4>
                            <div class="mt-3 w-100">
                                <textarea class="form-control" [(ngModel)]="userDetails.skills"></textarea>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button class="btn btn-warning me-4">Cancel</button>
                            <button class="btn btn-success" [disabled]="editform.invalid">edit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>